- content_for :page_name, 'Project description'
%p
  Name:
  %br	
  = @project.name
%p
  Description:
  %br	
  = @project.description.html_safe
%br
.owner
  %h1 Owner
  = render :partial => 'user', :locals => {:user => @project.owner}
.participants
  %h1 Participants:
  = render :partial => 'user', :collection => @project.users
- if @project.owner.eql? current_user
  %br
  %h1 Invite friend:
  %br
  = render :partial => 'invites/form'
