!!! Strict
%html{ "xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    = stylesheet_link_tag 'style', 'facebox', 'visualize', 'date_input'
    = javascript_include_tag  'jquery/jquery.min', 'rails', 'application', 'jquery/jquery.img.preload','jquery/jquery.select_skin', 'jquery/jquery.pngfix', 'jquery/jquery.visualize', 'jquery/jquery.wysiwyg', 'jquery/jquery.filestyle.mini', 'jquery/jquery.date_input.pack', 'facebox', 'custom'
    <!--[if IE]>
    %meta{:content => "IE=7", "http-equiv" => "X-UA-Compatible" }
    = javascript_include_tag 'excanvas.js'
    <![endif]-->
    <!--[if IE 8]>
    = stylesheet_link_tag 'ie.css'
    <![endif]-->
    = csrf_meta_tag
    = yield :local_javascript
    = yield :head
  %body
    .wrapper

      #main.block.small.center.login
        .block_head
          .bheadl
          .bheadr
          %ul
            %li
              %a{:href => url_for(root_path)} back to the site
          %h2= yield(:page_name) || controller.controller_name.humanize
          = yield(:page_head)
        .block_content.main
          - if flash[:notice]
            .message.info
              = flash[:notice]
          = yield
        .bendl.main
        .bendr
      #footer
        %p.right
          TimeReports © 2010. All Rights Reserved
